<html>
    <body>
        <h1>Calculator</h1>
        <Input1>
        <p>X
            <input id="X" placeholder="Enter the number" />
        </p>
        </Input1>
        <Input2>
        <p>Y
            <input id="Y" placeholder="Enter the number" />
        </p>
        </Input2>
        <Input3>
            <p>Result
                <input id="Result">
            </p>
        </Input3>
        <button type="submit" id="plus_button">+</button>
        <button type="submit" id="minus_button">-</button>
        <button type="submit" id="multiple_button">x</button>
        <button type="submit" id="divide_button">/</button>
    </body>
</html>