<html>
    <body>
        <h1>Calculator</h1>
        <form action='calculate' method='POST'> 
            {% csrf_token %}
        <p>X : 
            <input type="text" placeholder="Enter the number" name="X" />
        </p>
        <p>Y :
            <input type="text" placeholder="Enter the number" name="Y" />
        </p>
            Result : {{Result}}
        <p>
        <button type="submit" name="add">+</button>
        <button type="submit" name="minus">-</button>
        <button type="submit" name="multiple">x</button>
        <button type="submit" name="divide">/</button>
        </p>
        </form>
    </body>
</html> 